h1:before {
  content: "\\\\\\ ";
}

h2:after {
  content: " ///";
}

[data-info] {
  font-weight: bold;
  color: #008000;
}

.job {
  font-style: italic;
}

#edu {
  color: #000080;
}

p {
  line-height: 1.5;
}
